// USER VARIABLES SECTION

@accent: #8c7a66; // Accent Color
@textcolor: #555555; // Text Color
@white: #ffffff;

@mainfamily: 'Montserrat', sans-serif; 
@systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

// .font(@fname, @fstyle, @fweight, @furl) {
// 	@font-face {
// 		font-family: @fname;
// 		font-style: @fstyle;
// 		font-weight: @fweight;
// 		src: local('Montserrat'),
// 		url(@furl) format('woff2');
// 	}
// }

// .font('Montserrat', normal, 100, '../fonts/Montserrat-Thin.woff2');
// .font('Montserrat', normal, 300, '../fonts/Montserrat-Light.woff2');
// .font('Montserrat', normal, 400, '../fonts/Montserrat-Regular.woff2');
// .font('Montserrat', normal, 500, '../fonts/Montserrat-Medium.woff2');
// .font('Montserrat', normal, 600, '../fonts/Montserrat-SemiBold.woff2');
// .font('Montserrat', normal, 700, '../fonts/Montserrat-Bold.woff2');


// GENERAL DOCUMENT STYLES

.reset();

*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	.wrapper();
}

::placeholder {
	// color: @gray;
}

::selection {
	background-color: @accent;
	color: @white;
}

input[type=tel] {
	border: 1px solid #ddd;
	padding: 10px 15px;
	text-transform: uppercase;
	font-weight: 400;
}

// input, button {
// 	-webkit-appearance: none;
// 	-moz-appearance: none;
// 	appearance: none;
// }

html {
	scroll-behavior: smooth;
}

body {
	font-size: 15px;

	min-width: 320px;
	position: relative;
	font-family: @mainfamily;
	font-weight: 300;
	color: @textcolor;
	background-color: @white;
}

.main-content {
	min-height: 100vh;
	overflow: hidden;
}

h1 {
	color: @white;
	font-size: 48px;
	letter-spacing: 0.025em;
	font-weight: 500;
	text-transform: uppercase;
	.sm(font-size, 30px);
}

