.hero {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	min-height: 300px;
	background: #555;

	h1 {
		max-width: 900px;
	}
}

.home {
	.hero {
		background: #555 url(../img/home_hero_bg.jpg) no-repeat center/cover;
	}
}

.repair {
	.hero {
		background: #555 url(../img/repair_hero_bg.jpg) no-repeat center/cover;
	}
}

.contact {
	.hero {
		background: #555 url(../img/contact_hero_bg.jpg) no-repeat center/cover;
	}
}

.buy {
	.hero {
		background: #555 url(../img/buy_hero_bg.jpg) no-repeat center/cover;
	}
}

.sell {
	.hero {
		background: #555 url(../img/sell_hero_bg.jpg) no-repeat center/cover;
	}
}

.p404 {
	.hero {
		background: #555 url(../img/404_hero_bg.jpg) no-repeat center/cover;
	}
}

.jewel {
	.hero {
		background: #555 url(../img/jewel_hero_bg.jpg) no-repeat center/cover;
	}
}