.info {
	padding-top: 60px;
	padding-bottom: 60px;

	&__item {
		.row-flex();
		align-items: center;
		.md(align-items, flex-start);

		&:not(:last-child) {
			margin-bottom: 52px;
		}
	}

	&__pic {
		.col();
		.size(5);
		.size-sm(12);
		text-align: center;
		.sm(margin-bottom, 10px);
	}

	&__text {
		.col();
		.size(7);
		.size-sm(12);

		h2 {
			margin-bottom: 32px;
			font-size: 36px;
			line-height: 48px;
			font-weight: 300;
			text-transform: uppercase;
			.md-block({
				font-size: 25px;
				line-height: 38px;
			});
			span {
				color: @accent;
			}
		}

		ul {
			margin-bottom: 40px;
		}

		li {
			position: relative;
			padding-left: 40px;

			&::before {
				position: absolute;
				content: '';
				text-align: center;
				line-height: 27px;
				left: 0;
				top: 0;
				width: 27px;
				height: 27px;
				color: #a6987c;
				border: 1px solid #d1cac2
			}

			&:nth-child(1)::before {
				content: '1';
			}
			&:nth-child(2)::before {
				content: '2';
			}
			&:nth-child(3)::before {
				content: '3';
			}
		}

		p, li {
			color: @textcolor;
			font-weight: 300;
			font-size: 15px;
			line-height: 24px;
			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}

		p.bold {
			font-weight: 500;
		}

	}

	&__item:nth-child(2) {
		.info__pic {
			.size(6);
			.size-sm(12);
			.sm(order, -1);
		}
		.info__text {
			.size(6);
			.size-sm(12);
		}
	}
}

.home {
	.info__item:nth-child(1) {
		.info__pic {
			align-self: flex-start;
		}
		.info__text {
			padding-top: 38px;
			.lg(padding-top, 0);
			align-self: flex-start;
		}
	}
}