.slider {
	text-align: center;

	&__content {
		position: relative;
		padding-top: 77px;
		border-top: 1px solid #dddddd;
		
		&::after {
			position: absolute;
			content: '';
			width: 100%;
			height: 3px;
			left: 0;
			right: 0;
			bottom: -2px;
			background-color: #fff;
		}
	}

	&__title {
		font-size: 48px;
		.md(font-size, 30px);
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 0.025em;
		margin-bottom: 55px;
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		white-space: nowrap;

		h3 {
			margin-bottom: 15px;
			text-transform: uppercase;
			
			line-height: 22px;
			font-weight: 600;
			span {
				display: block;
			}
		}

		ul {
			margin-bottom: 15px;
		}

		li {
			margin-bottom: 2px;
		}
	}

	&__price {
		margin-bottom: 15px;
		font-weight: 600;
	}
}

.owl-carousel {
	position: relative;
}

.owl-theme {
	.owl-nav {
		position: absolute;
		top: 36%;
		width: 100%;
		font-size: 0!important;

		.owl-prev, .owl-next {
			position: absolute;
			width: 35px;
			height: 65px;
			background: url('../img/right-arrow.svg') no-repeat!important;
			outline: none;
		}

		.owl-prev {
			left: -40px;
			.lg(left, -30px);
			// .md(left, -10px);
			transform: scale(-1, 1);
		}

		.owl-next {
			right: -40px;
			.lg(right, -30px);
			// .md(right, -10px);
		}
	}
}